@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<main class="bs-docs-masthead-other" id="content" role="main">
    <div class="panel panel-default"  style="width:90%;margin:0 auto;text-align:left;">
    
        <table class="table">
        <thead>
          <tr>
            <th>Title of the Post</th>
            <th>Posted by</th>
          </tr>
        </thead>
        <tbody>
            @foreach(var job in Model){
                <tr>
                    <td><a href="@Url.Action("seeJob", "Job", new { id= job.jobId })" target="_blank">@job.jobTitle</a></td>
                    <td><a href="@Url.Action("UserProfile","User", new { id= job.account.accountId })" target="_blank">@job.account.email</a></td>
                </tr>
            }
        </tbody>
      </table>
        </div>
</main>
