@{
    ViewBag.Title = "Offcampus4u : The Technological Network";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<!-- Page content of course! -->
<div style="margin: 0 auto; width:65%;text-align:center;">
    <h3 class="bs-docs-featurette-title">Offcampus4u - Learn, Work &amp; Earn</h3>
    <p class="lead">Offcampus4u is a FREE networking platform to learn about the latest technologies, apply for new job opportunities and you can earn money by referring jobs.</p>
    @*<hr class="half-rule">*@
</div>  
<main class="bs-docs-masthead" id="content" role="main">
  
  <div class="row" style="margin:0px;">
    <div class="col-xs-4">
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">T</span>
        <p class="lead">Tutorials</p>
   </div>
   <div class="col-xs-4">
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">J</span>
        <p class="lead">Jobs</p>
   </div>
   <div class="col-xs-4">
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">R</span>
        <p class="lead">Rewards</p>
   </div>
   </div>
</main>
<div class="bs-docs-featurette">
  <div class="container">
   @* <h2 class="bs-docs-featurette-title">Offcampus4u - Learn, Work & Earn</h2>
    <p class="lead">Offcampus4u is a FREE networking platform for you to learn latest technologies, find new job opportunities and you can earn by referring jobs.</p>*@

    

    <div class="row">
      <div class="col-sm-4">
      @*  <img src="~/Content/images/tutorials-less.png" alt="Sass and Less support" class="img-responsive">*@
        <h3>We Teach</h3>
        <p>Offcampus4u teaches in the comfort of your browser with interactive video lessons.</p>
      </div>
      <div class="col-sm-4">
        @*<img src="~/Content/images/jobs-less.png" alt="Responsive across devices" class="img-responsive">*@
        <h3>We Help</h3>
        <p>Offcampus4u helps you find latest jobs which helps you start a successfull career.</p>
      </div>
      <div class="col-sm-4">
        @*<img src="~/Content/images/wallet-less.png" alt="Components" class="img-responsive">*@
        <h3>We Provide</h3>
        <p>Offcampus4u provides an avenue to earn when you share latest job opportunities.</p>
      </div>
    </div>
  </div>
</div>
