@{
    ViewBag.Title = "Offcampus4u - Learn, Work & Earn";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<!-- Page content of course! -->
<div style="margin: 0 auto; width:65%;text-align:center;">
    <div style="min-height:10px;"></div>
    <h4 class="bs-docs-featurette-title">Offcampus4u - Learn, Work &amp; Earn</h4>
    <p class="lead">Offcampus4u is a FREE networking platform to learn about the latest technologies, apply for new job opportunities and even earn money by posting jobs.</p>
    @*<hr class="half-rule">*@
</div>  
<div class="bs-docs-social">
          <ul class="bs-docs-social-buttons">
            
            <li style="width:150px;">
              <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Foffcampus4u&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=638061509570883" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
            </li>
            <li class="follow-btn">
              <a class="twitter-follow-button"  href="https://twitter.com/offcampus4u"  data-show-count="true"  data-lang="en">Follow @@offcampus4u</a>
            </li>
            <li class="tweet-btn">
               <a href="https://twitter.com/share" class="twitter-share-button" data-via="offcampus4u" data-related="offcampus4u" data-hashtags="offcampus4u" data-dnt="true">Tweet</a>
            </li>
              <li>
              <script src="~/Content/in.js" type="text/javascript"> lang: en_US</script><script type="IN/Share" data-counter="right"></script>
            </li>
          </ul>
        </div>
<main class="bs-docs-masthead" id="content" role="main">
  
  <div class="row" style="margin:0px;">
    <div class="col-xs-4">
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">T</span>
        <p class="lead">Tutorials</p>
   </div>
   <div class="col-xs-4">
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">J</span>
        <p class="lead">Jobs</p>
   </div>
   <div class="col-xs-4">
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">R</span>
        <p class="lead">Rewards</p>
   </div>
   </div>
</main>
<div class="bs-docs-featurette">
  <div class="container">
   @* <h2 class="bs-docs-featurette-title">Offcampus4u - Learn, Work & Earn</h2>
    <p class="lead">Offcampus4u is a FREE networking platform for you to learn latest technologies, find new job opportunities and you can earn by referring jobs.</p>*@

    

    <div class="row">
      <div class="col-sm-4">
      @*  <img src="~/Content/images/tutorials-less.png" alt="Sass and Less support" class="img-responsive">*@
        <h3>We Teach</h3>
        <p>Improve your skills in the comfort and convenience of your browser with our interactive video lessons.</p>
      </div>
      <div class="col-sm-4">
        @*<img src="~/Content/images/jobs-less.png" alt="Responsive across devices" class="img-responsive">*@
        <h3>We Help</h3>
        <p>Browse our comprehensive listing of the latest jobs in the market to successfully kickstart your career.</p>
      </div>
      <div class="col-sm-4">
        @*<img src="~/Content/images/wallet-less.png" alt="Components" class="img-responsive">*@
        <h3>We Provide</h3>
        <p>Get rewarded simply by sharing the latest job opportunities on our site.</p>
      </div>
        <hr class="half-rule"/>
    </div>
  </div>
</div>
