@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="bs-docs-masthead-other" style="width:80%;margin:0 auto;">
    <div class="panel panel-default"  style="margin:0 auto;text-align:left;">
    <div class="panel-body" id="jobform">
       <h4 class="signup">
           <strong id="signuptext">Privacy Policy</strong> 
       </h4>
     </div>
     <div class="panel-body" id="jobform">
         <b>Offcampus4u.com</b> is owned by <b>Bansal Online Services (P) Ltd.</b> And it values the trust you place in www.offcampus4u.com. This statement discloses the information practices for the Offcampus4u.com, including what type of information is gathered and tracked, how the information is used and with whom the information is shared.  <br /><br />
         <ul>
             <li><b>Collection of Personally identifiable information</b> <br />
                    Offcampus4u.com collects your personal information for the purpose of site security and to ensure our service remains available to all users. The personal information we collect from you will include following information: <br /><br />
                        &raquo;Name of the user<br />
                        &raquo;Contact information including email address<br />
                        &raquo;Demographic information such as postcode, preferences and interests<br />
                        &raquo;Other information relevant to customer surveys and/or offers<br /><br />
                    We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:<br /><br />
                        &raquo;Internal record keeping.<br />
                        &raquo;We may use the information to improve our products and services.<br />
                        &raquo;We may periodically send promotional emails about new products or other information which we think you may find interesting using the email address which you have provided during sign-up process.<br />
                        &raquo;From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customize the Website according to your interests.<br /><br />
             </li>
             <li>
                 <b>Use of "Cookies"</b><br />
                 We may set and access Offcampus4u cookies on your computer in order to track you when you’re on our Website and to recognize your visits. We may use web beacons to access Offcampus4u cookies inside and outside our network of websites and in connection with Offcampus4u services.<br /><br />
             </li>
             <li><b>Security Precautions</b><br />
                We endeavor to take all security measures to protect your personal information. Once your information is in our possession we adhere to strict security guidelines, protecting it against unauthorized access. <br /><br />

             </li>
             <li>
                 <b>Other Websites</b><br />
                 Our Website may have links to other websites. This privacy policy only applies to this Website. You should therefore read the privacy policies of the other websites when you are using those sites. <br /><br />
             </li>
             <li>
                 <b>Disclaimer Policy</b><br />
                 Offcampus4u expressly disclaims all warranties of any kind, express or implied, including, but not limited to implied warranties of merchantability, title, non-infringement for a particular purpose. <br /><br />

                 &raquo;Offcampus4u makes no warranty that: (i) the services will meet your requirements, (ii) the services will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the services will be accurate of reliable, (iv) the quality, safety or legality of any content, products, services, information or other material purchased or obtained by you or events attended, through the services, or the services themselves (or any part thereof), will meet your expectations, or (v) any errors in the services will be corrected.<br /><br />
                 &raquo;Offcampus4u is not responsible and shall have no liability for the content, products, services, actions or inactions of any user, buyer or other employers or third party before, during and/or after recruitment.<br /><br />
                 &raquo;Offcampus4u will have no liability with respect to any warranty disclaimed in (i) through (v) above mentioned. <br /><br />
                 &raquo;You acknowledge that Offcampus4u has no control over and does not guarantee the quality, safety or legality of jobs advertised, the truth or accuracy of any users’ (including users & employers) content or listings, or the ability of any user (including users and employers) to perform or actually complete a transaction. The foregoing disclaimers shall not apply to the extent prohibited by applicable law. <br /><br />
             </li>
         </ul>
    </div>
    </div> 

</main>