@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="bs-docs-masthead-other" style="width: 80%; margin: 0 auto;">
    <div class="panel panel-default"  style="width:20%;margin:0 auto;text-align:left;float:left;">
        @Html.Partial("_jobLeftMenu")
        </div>
 <div class="panel panel-default"  style="width:78%;margin:0 auto;float:right;text-align:left;padding:10px;" >
    <div class="panel-heading">
      <h3 class="panel-title"><b>Person Details</b></h3>
     </div>
    

</div>
</main>
