@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<main class="bs-docs-masthead-other" id="content" role="main">
    <div class="panel panel-default"  style="width:90%;margin:0 auto;text-align:left;">
        
        <div class="panel-body">
             <h4 class="signup">
           <strong id="signuptext">Email Campaigns</strong> 
       </h4>
       <div class="signupform">
           <table style="width:100%;">
               @foreach (var item in Model)
               {
                  <tr>
                   <td>@item.email</td>
                   <td><button onclick='sendemail("@item.email", "@item.accountKey")'>Click here to Send</button></td>
               </tr> 
               }
               
           </table>
        </div>
    </div>
        
        </div>
</main>
<script>
    function sendemail(email, key) {
      
        $.ajax({
            type: "POST",
            url: "@(Url.Action("sendEmailVerification", "EmailCampaign"))",
            data: { email: email, key: key }

        })
        .done(function (data) {
            console.log("done", data);
            showalert(data.isSuccess, data.message);
        })
        .fail(function (data) {
            console.log("fail", data);
            showalert(data.isSuccess, data.message);
        });
        
    };
</script>