  <div class="panel-heading">
            <h3 class="panel-title"><b>Activity Menu</b></h3>
          </div>
       <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
           <li role="presentation"><a href="@Url.Action("createNew", "Test")">Create New Test</a></li>
           <li role="presentation"><a href="@Url.Action("postHistory", "Job")">Published Job Posts</a></li>
           <li role="presentation"><a href="@Url.Action("postUnHistory", "Job")">Unpublished Job posts</a></li>
        </ul>