@{
    ViewBag.Title = "Offcampus4u Online Test Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="bs-docs-masthead-other" style="width: 80%; margin: 0 auto;">
    <div class="panel panel-default"  style="width:20%;margin:0 auto;text-align:left;float:left;">
        @Html.Partial("_testLeftMenu")
        </div>
 <div class="panel panel-default"  style="width:78%;margin:0 auto;float:right;text-align:left;padding:10px;" >
    <div class="panel-body">
       <h4 class="signup">
           <strong id="signuptext">Create New Test</strong>
       </h4>
   
    <div class="signupform">
        <div class="form-group">
          <label>Title</label>
          <input type="text" id="title" placeholder="enter the title" />
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea id="description" placeholder="enter the description"></textarea>
        </div>
        <div class="form-group">
          <label>Start Date</label>
          <input type="date" id="startDate" placeholder="enter the start date" />
        </div>
        <div class="form-group">
          <label>End Date</label>
          <input type="date" id="endDate" placeholder="enter the end date" />
        </div>
        <div class="form-group">
          <label>Test Duration</label>
          <input type="text" id="duration" placeholder="enter the test Duration" />
        </div>
        <button id="createTestBtn" class="btn btn-success">Save</button>
     </div>
  </div>
</div>
</main>
<script>
    $('#createTestBtn').on('click', function () {
        $.ajax({
            type: "POST",
            url: "@(Url.Action("saveTest", "Test"))",
            data: {
                title: $("#title").val(),
                title: $("#description").val(),
                title: $("#startDate").val(),
                title: $("#endDate").val(),
                title: $("#duration").val()
            }
        })
        .done(function (data) {
            showalert(data.isSuccess, data.message);

        })
        .fail(function (data) {
            console.log("fail", data);
            showalert(data.isSuccess, data.message);
        });
    });
</script>